@{
    Layout = "_Layout";
}
@model AuthenticationApp.Models.RegistrationsModels.UserLogin;

<div class="row m-auto vh-100 p-4">
    <div class="conteiner d-flex flex-column justify-content-center align-items-center">
        <div class="form rounded col-lg-6 col-md-10 col-sm-10 col-12 g-0 bg-white justify-content-center align-items-center shadow-lg">
        <div class="row g-0">
            <form asp-controller="Home" asp-action="Registration" class="col">
            <button type="submit" class="w-100 btn p-3 fs-2 btn-light ">Sing Up</button>
            </form>
            <form method="get" asp-controller="Home" asp-action="Login" class="col">
            <button type="submit" class="w-100 btn p-3 btn-success fs-2 text-white">Log In</button>
            </form>
        </div>
        <div class="row g-0">
            <div class="col fs-3 mt-5 mb-3 text-center">Log In</div>
            <form method="post" asp-controller="Home" asp-action="Login">
                <div asp-validation-summary="All" class="authentication-group">
                    <div class="row w-100 p-3 g-0">
                            <label for="" class="col-3 fs-4 d-none d-sm-block">Email address</label>
                        <input type="email" name="userLogin.Email" class="col" placeholder="Enter email address">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="row w-100 p-3 g-0">
                            <label for="" class="col-3 fs-4 d-none d-sm-block">Password</label>
                        <input type="password" name="userLogin.Password" class="col" placeholder="Enter password">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="row w-100 g-0 align-items-center justify-content-center">
                        <button type="submit" class="col-4 m-4 btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>